{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Sign Up</h2>

<form id="register-form">
  <input type="text" id="username" placeholder="Username" required>
  <input type="password" id="password" placeholder="Password" required>
  <button type="submit">Register</button>
</form>

<p id="register-error" style="color: red;"></p>

<script>
document.getElementById("register-form").addEventListener("submit", async (e) => {
  e.preventDefault();
  const username = document.getElementById("username").value;
  const password = document.getElementById("password").value;

  try {
    const res = await fetch("/user/api/register/", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify({ username, password })
    });

    const data = await res.json();

    if (res.ok) {
      console.log("SAAALAAAM")
      localStorage.setItem("accessToken", data.access);
      localStorage.setItem("refreshToken", data.refresh);

      // Redirect to home since user is already authenticated
      window.location.href = "/user/upload";
    } else {
      document.getElementById("register-error").textContent =
        data.detail || "Registration failed";
    }
  } catch (err) {
    document.getElementById("register-error").textContent = "Network error";
  }
});
</script>
{% endblock %}
